@import './variables.scss';

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu.otf');
}

@font-face {
  font-family: 'Apercu-light';
  src: url('../fonts/Apercu-Light.otf');
}

@font-face {
  font-family: 'Apercu-bold';
  src: url('../fonts/Apercu-Bold.otf');
}

body {
  font-family: Apercu;
  color: $black;
  padding: $lg-pdg;
}

input, select, button, option {
  font-family: Apercu;
  outline: none;
}

a {
  color: $pink;
  text-decoration: none;
}