@import './variables.scss';
@import './base.scss';

//LOGIN COMPONENT
.login-container {
  text-align: center;
  padding: $lg-pdg;
}

.login-button {
  width: 200px;
  height: 40px;
  border: 4px solid $pink;
  margin: 0 auto;
  padding: 5px;
  a {
    font-size: $lg-font;
  }
}

.login-button:hover {
  transition: .2s;
  border:4px solid $tan;
  background-color: $tan;
  a {
    color: $white;
  }
}

.welcome-header {
  font-size: 40px;
  color: $tan;
}

//HOME COMPONENT

.app-container {
  margin: 0 auto;
  width: 91%;
}

.left-container {
  float: left;
}

.right-container {
  margin-left: 20px;
  float:left;
  overflow: hidden;
}

.search-container {
  margin: 0 auto;
  width: 81%;
}

.tweets-container {
  margin-top:20px;
  overflow: scroll;
  width: 600px;
  height: 600px; 
}

.saved-container {
  width: 600px;
  height: 600px;
  border: 1px solid $black; 
  border-bottom: none;
  margin-top: 30px;
  overflow: scroll;
}


//SEARCH COMPONENT

.search-bar {
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 120px;
  width: 145px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-size: $med-font;
  border: none;
  background-color: $white;
  border-bottom: 1px solid $black;
}

.search-input {
  width: 200px;
  border: none;
  border-bottom: 1px solid $black;
  margin-left: 10px;
  font-size: $med-font;
}

.search-btn {
  margin-left: 10px;
  width: 100px;
  border: 1px solid $black;
  background-color: $tan;
  height: 25px;
  font-size: $med-font;
}

.search-btn:hover {
  cursor: pointer;
  background-color: $white;
  transition: .2s;
}


//TWEET COMPONENT

.placeholder {
  padding: $med-pdg;
  color: $pink;
  text-align: center;
}

.error {
  color: $red;
  float: left;
  font-size: $med-font;
  text-align: center;
}

//TEXT TWEET COMPONENT

.tweet {
  background-image: url('../images/speech-bubble.png');
  background-repeat: no-repeat;
  background-size: 500px 200px !important;
  height: 200px;
  margin: 0 auto;
  margin-top: 40px;
}

.text-tweet {
  width: 422px;
  height: 175px;
  margin-left: 50px;
  padding-top: 45px;
}

.text-date {
  width: 322px;
  margin-top: -110px;
  float: right;
  color: $dark-tan;
}

.tweet-outer {
  text-decoration: underline;
  margin-top: -12px;
  padding-left: 40px;
  font-size: $med-font;
}

.save-img {
  background-image: url('../images/save-dark.png');
  background-repeat: no-repeat;
  background-size:30px;
  height: 30px;
  width: 30px;
  display: inline-block;
  float: right;
  margin-right: 150px;
}

.save-img:hover {
 background-image: url('../images/save-light.png'); 
 background-repeat: no-repeat;
 background-size:30px;
 height: 30px;
 width: 30px;
 display: inline-block;
 cursor: pointer;
}

//PHOTO TWEET COMPONENT

.hover-text {
  font-size: 16px;
  bottom: 100px;
  word-wrap: break-word;
  text-align:center;
  font-size:12px;
  color:black;
  position:relative;
  visibility:hidden; 
}

.photo-tweet {
  max-height: 200px;
  max-width:200px;
}

.hover-container:hover {
  cursor: pointer;
  opacity: 0.3;
}

.hover-container:hover .hover-text {
  word-wrap: break-word;
  visibility:visible;
  font-size: $reg-font;
  color: $black;
}

.photo-container {
  overflow: auto;
  display: inline-block;
  width: 200px;
  height: 300px;
  text-align: center;
}

.photo-date {
  float: right;
  color: $dark-tan;
}

//SAVED COMPONENT

.saved-placeholder {
  padding: $med-pdg;
  color: $black;
  font-size: $med-font;
  text-align: center;
}
.logout-link {
  text-align:right;
  font-size: $med-font;
  font-family: Apercu-bold;
  color: $black;
}

.saved-header {
  font-size: $lg-font;
  font-family: Apercu-bold;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-top: -7px;
}

.saved-header:after
{
  content:'';
  width:14em; 
  border-bottom:1px solid $black;
  position:absolute;
  top:50%;
}
:after {
  left:100%;
}
:before {
  right:100%;
}

//SAVED TWEETS COMPONENT

.savedtweets-container {
  padding: 20px;
}

.saved-text {
  padding: $small-pdg;
  border-bottom: 3px solid $tan;
}

.delete-button {
  text-align: right;
  font-family: Apercu-bold;
  font-size: 24px;
}

.delete-button:hover {
  cursor: pointer;
  color: $red;
}
